* {
    font-family: "Barlow";
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 500;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    word-wrap: break-word;
}

#messages {
    height: 100%;
    overflow-y: scroll;
    padding: 0px 0px 0px 20px;
    margin: 0px;
}

.msg {
    border-radius: 0;
    padding: 10px 20px 10px 20px;
}
.msg + .msg { border-top: 1px solid #ccc; }
i { color: #bbb;}
.unsaved { color: #ccc;}
.saved { color: #000; } 

#msgArea {
    height: 100%;
    padding-bottom: 60px;
}

#msgInput {
    width: 100%;
    padding: 10px;
    vertical-align: middle;
    border: none;
    border: 1px solid #ccc;
}

#msgBar {
    position: absolute;
    height: 60px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    border: 6px solid #232323;
    background-color: #232323;
    padding: 5px;
    border-radius: 0px;
}