* {
    font-family: "Barlow";
    box-sizing: border-box;
    border-radius: 5px;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    word-wrap: break-word;
}

#messages {
    height: 100%;
    overflow-y: scroll;
    padding: 0px 0px 0px 20px;
    margin: 0px;
}

.msg {
    border-radius: 0;
    padding: 10px 20px 10px 20px;
}
.msg + .msg { border-top: 1px solid #ccc; }

.unsaved {
    color: #ddd;
}

.saved {
    color: #000;
}

#msgArea {
    height: 100%;
    padding-bottom: 60px;
}

#msgInput {
    position: absolute;
    width: 100%;
    border-radius: 0px;
    height: 60px;
    border: 6px solid black;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 7px;
}